.calculater_container {
  min-height: 460px;
  aspect-ratio: 1/1.6;
  background: linear-gradient(
    90deg,
    rgb(132, 228, 255) 0%,
    rgba(175, 211, 226, 1) 100%
  );
  border: 10px solid #8294c4;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.calculater_upper_div {
  background: #acb1d6;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.calculater_upper_div > input {
  background: transparent;
  border: 0px;
  margin: 8px;
  width: 270px;
  border-radius: 5px;
  text-align: right;
  font-size: 40px;
}
.calculater_upper_div > div{
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  width: 100%;
}
.calculater_upper_div > div > p{
  background: transparent;
  border: 0px;
  margin: 8px;
  font-size: 20px;
}

.calculater_lower_div {
  background: #c8cee0;
  padding: 10px;
}
.calculater_lower_div > div {
  background: #c8cee0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
  column-gap: 16px;
  row-gap: 10px;
}
.items {
  background: #9e9bc9;
  min-height: 36px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
