@tailwind base;
@tailwind components;
@tailwind utilities;

/* reseting css  */
body {
  margin: 0px;
  padding: 0px;
  background: #2d2d2d;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* app */
.app_renderItems {
  display: flex;
  flex-wrap: wrap;
  min-height: 60px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-bottom: 10px;
}
.app_renderer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.header_button {
  padding: 4px;
  background: #a55814;
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
}
.calculater{
  width: 40px;
  aspect-ratio: 1/1;
}