@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryC: #191825;
  --secondryC: #865dff;
  --pinkD: #e384ff;
  --pinkL: #ffa3fd;
  --gradient: (
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
}

.bg-primary {
  background-color: var(--primaryC);
}
.bg-secondary {
  background-color: var(--secondaryC);
}
.text-P {
  color: var(--primaryC);
}
.text-S {
  color: var(--secondryC);
}
.text-Para {
  color: var(--pinkL);
}
.link-underline {
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#ffa3fd, #ffa3fd);
}
.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
.box-cir-ani {
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#ffa3fd, #ffa3fd);
}
.box-cir-ani:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
.text-gradient {
  background: linear-gradient(
    0deg,
    var(--secondryC),
    var(--pinkD),
    var(--pinkL)
  );
}
.D-padding {
  padding: 0px 80px;
}
